@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #01a7fd;
    --color-white: #ffffff;
    --color-black: #111111;
    --color-black-10: #1111111a;
    --color-gray: #1111117a;
    --color-gray-light: #f1f1f1;
    --color-gray-medium: #fafafa;
  }

  :where(*) {
    color: var(--color-black);
  }

  .button {
    @apply text-white bg-primary border-primary flex cursor-pointer items-center rounded-full border-2 px-5 py-3;

    &.button-outline {
      @apply text-primary bg-transparent;
    }
  }
}
